<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775421849382-32l9cnepvc7l4jk99569ruvslsb8gk25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775421849382-32l9cnepvc7l4jk99569ruvslsb8gk25</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>775421849382-tge5i769lvvqdqel9l08suvndgovs6fl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_AvMdmHe7hxwdVMtTize1Qrn-MBcsJnA</string>
	<key>GCM_SENDER_ID</key>
	<string>775421849382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessAppYoga</string>
	<key>PROJECT_ID</key>
	<string>fitnessappyoga</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessappyoga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775421849382:ios:9ef4f71af162711362dbe7</string>
</dict>
</plist>